EcommerceClient/src/wsdl/it-lab-6pc-8_8080/EcommerceSite/AccountService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soapapi/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soapapi/" name="AccountService">
<types>
<xsd:schema>
<xsd:import namespace="http://soapapi/" schemaLocation="http://it-lab-6pc-8:8080/EcommerceSite/AccountService?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="logout">
<part name="parameters" element="tns:logout"/>
</message>
<message name="logoutResponse">
<part name="parameters" element="tns:logoutResponse"/>
</message>
<message name="updateProfile">
<part name="parameters" element="tns:updateProfile"/>
</message>
<message name="updateProfileResponse">
<part name="parameters" element="tns:updateProfileResponse"/>
</message>
<message name="deleteAccount">
<part name="parameters" element="tns:deleteAccount"/>
</message>
<message name="deleteAccountResponse">
<part name="parameters" element="tns:deleteAccountResponse"/>
</message>
<message name="registerUser">
<part name="parameters" element="tns:registerUser"/>
</message>
<message name="registerUserResponse">
<part name="parameters" element="tns:registerUserResponse"/>
</message>
<portType name="AccountService">
<operation name="login">
<input wsam:Action="http://soapapi/AccountService/loginRequest" message="tns:login"/>
<output wsam:Action="http://soapapi/AccountService/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="logout">
<input wsam:Action="http://soapapi/AccountService/logoutRequest" message="tns:logout"/>
<output wsam:Action="http://soapapi/AccountService/logoutResponse" message="tns:logoutResponse"/>
</operation>
<operation name="updateProfile">
<input wsam:Action="http://soapapi/AccountService/updateProfileRequest" message="tns:updateProfile"/>
<output wsam:Action="http://soapapi/AccountService/updateProfileResponse" message="tns:updateProfileResponse"/>
</operation>
<operation name="deleteAccount">
<input wsam:Action="http://soapapi/AccountService/deleteAccountRequest" message="tns:deleteAccount"/>
<output wsam:Action="http://soapapi/AccountService/deleteAccountResponse" message="tns:deleteAccountResponse"/>
</operation>
<operation name="registerUser">
<input wsam:Action="http://soapapi/AccountService/registerUserRequest" message="tns:registerUser"/>
<output wsam:Action="http://soapapi/AccountService/registerUserResponse" message="tns:registerUserResponse"/>
</operation>
</portType>
<binding name="AccountServicePortBinding" type="tns:AccountService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="logout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateProfile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registerUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AccountService">
<port name="AccountServicePort" binding="tns:AccountServicePortBinding">
<soap:address location="http://it-lab-6pc-8:8080/EcommerceSite/AccountService"/>
</port>
</service>
</definitions>