EcommerceClient/src/wsdl/it-lab-6pc-8_8080/EcommerceSite/CategoriesService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soapapi/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soapapi/" name="CategoriesService">
<types>
<xsd:schema>
<xsd:import namespace="http://soapapi/" schemaLocation="http://it-lab-6pc-8:8080/EcommerceSite/CategoriesService?xsd=1"/>
</xsd:schema>
</types>
<message name="addCategory">
<part name="parameters" element="tns:addCategory"/>
</message>
<message name="addCategoryResponse">
<part name="parameters" element="tns:addCategoryResponse"/>
</message>
<message name="updateCategory">
<part name="parameters" element="tns:updateCategory"/>
</message>
<message name="updateCategoryResponse">
<part name="parameters" element="tns:updateCategoryResponse"/>
</message>
<message name="deleteCategory">
<part name="parameters" element="tns:deleteCategory"/>
</message>
<message name="deleteCategoryResponse">
<part name="parameters" element="tns:deleteCategoryResponse"/>
</message>
<message name="searchCategory">
<part name="parameters" element="tns:searchCategory"/>
</message>
<message name="searchCategoryResponse">
<part name="parameters" element="tns:searchCategoryResponse"/>
</message>
<message name="getAllCategories">
<part name="parameters" element="tns:getAllCategories"/>
</message>
<message name="getAllCategoriesResponse">
<part name="parameters" element="tns:getAllCategoriesResponse"/>
</message>
<portType name="CategoriesService">
<operation name="addCategory">
<input wsam:Action="http://soapapi/CategoriesService/addCategoryRequest" message="tns:addCategory"/>
<output wsam:Action="http://soapapi/CategoriesService/addCategoryResponse" message="tns:addCategoryResponse"/>
</operation>
<operation name="updateCategory">
<input wsam:Action="http://soapapi/CategoriesService/updateCategoryRequest" message="tns:updateCategory"/>
<output wsam:Action="http://soapapi/CategoriesService/updateCategoryResponse" message="tns:updateCategoryResponse"/>
</operation>
<operation name="deleteCategory">
<input wsam:Action="http://soapapi/CategoriesService/deleteCategoryRequest" message="tns:deleteCategory"/>
<output wsam:Action="http://soapapi/CategoriesService/deleteCategoryResponse" message="tns:deleteCategoryResponse"/>
</operation>
<operation name="searchCategory">
<input wsam:Action="http://soapapi/CategoriesService/searchCategoryRequest" message="tns:searchCategory"/>
<output wsam:Action="http://soapapi/CategoriesService/searchCategoryResponse" message="tns:searchCategoryResponse"/>
</operation>
<operation name="getAllCategories">
<input wsam:Action="http://soapapi/CategoriesService/getAllCategoriesRequest" message="tns:getAllCategories"/>
<output wsam:Action="http://soapapi/CategoriesService/getAllCategoriesResponse" message="tns:getAllCategoriesResponse"/>
</operation>
</portType>
<binding name="CategoriesServicePortBinding" type="tns:CategoriesService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CategoriesService">
<port name="CategoriesServicePort" binding="tns:CategoriesServicePortBinding">
<soap:address location="http://it-lab-6pc-8:8080/EcommerceSite/CategoriesService"/>
</port>
</service>
</definitions>